@import "tailwindcss";

@layer theme, base, components, utilities;

@custom-variant dark (&:where(.dark, .dark *));
/* Ignorar alertas de error, ya que es una versión reciente de TailwindCSS */

@theme {
    --color-primary: #00b1e8;
    --color-secondary: #f26c1d;
    --color-hoverSecondary:#fc843d;
    --color-accent1: #ffda00;
    --color-accent2: #4c2882;
    --color-textDark: #333333;
    --color-textLight: #f5f5f5;
    --color-bgLight: #f5f5f5;
    --color-bgDark: #333333;
    --color-facebook: #1877f2;
    --color-instagram: #e1306c;
    --color-whatsapp: #25d366;
    --color-tiktok: #f5f5f5;
    --color-youtube: #ff0000;
}

/* @utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }

    .text-light {
        color: var(--color-textLight);
    }

    .bg-light {
        background-color: var(--color-backgroundLight);
    }

    .bg-dark {
        background-color: var(--color-backgroundDark);
    }

    .text-accent1 {
        color: var(--color-accent1);
    }

    .text-dark {
        color: var(--color-textLight);
    }

    .bg-accent2 {
        background-color: var(--color-accent2);
    }

} */
